<%= render 'books/list', user: @user, book: @book %>

  <h2>Books</h2>
  
  <table class="table tavle-hover table-inverse">
    <thead>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </thead>
    
    <tbody>
      <tr>
        <% @books.each do |book| %>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= image_tag book.user.get_profile_image(100,100) %>
            <%= book.title %>
          <% end %>
        </td>
        <td><%= book.body %></td>
        <% end %>
      </tr>
    </tbody>
  </table>